.Dexperience{
    background-color: white;
    padding-top: 20px;
    overflow-x:hidden ;
}

.Dexperience p{
    color:#a3a3a3;
    font-size: large;
}
.Dexperience-element{
    display: flex;
    justify-content: space-around;
}
.Dachieve{
    display: flex;
    justify-content: space-around;
}
.Dexperience-element img{
    margin-left: 20%;
}
.DExperience_text_Div{
    padding-top: 10%;
    padding-right: 15%;
}
.Dachieve h1{
    color: #00a6ed;
    font-weight: 800;
}


@media (min-width:300px) and (max-width:600px){

    .Dexperience{
        text-align: center;
        font-size: large;
        overflow-x:hidden ;
    }

    .Dexperience-element{
        display: grid;
        justify-content: space-around;
    }
    .Dexperience-element img{
        width: 300px;
        height: 500px;
        margin-left: -10%;
    }
    .DExperience_text_Div{
        margin-left: 10%;
    }
.Dachieve{
    margin-left: 10%;
}



}