
.holiday{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.holiday-element{
    display: flex;
    justify-content: space-around;
   
}
.onedown{
    margin-top: 100px;
}

.onedown img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.onedown1 img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



@media  (min-width:300px) and (max-width:600px) {
    
    .holiday{
        text-align: center;
        font-size: large;
        overflow-x:hidden ;
    }

.holiday-element{
    display: grid;
}

.onedown1{
margin-top: 50px;
margin-bottom: -50px;
}


}