.experience{
    background-color: black;
    padding-top: 20px;
    overflow-x:hidden ;
}
.experience p{
    color:#a3a3a3;
    font-size: large;
}
.experience-element{
    display: flex;
    justify-content: space-around;
}
.achieve{
    display: flex;
    justify-content: space-around;
}
.experience-element img{
    margin-left: 20%;
}
.Experience_text_Div{
    padding-top: 10%;
    padding-right: 15%;
}
.achieve h1{
    color: #3dc6ef;
    font-weight: 800;
}


@media (min-width:300px) and (max-width:600px){

    .experience{
        text-align: center;
        font-size: large;
        overflow-x:hidden ;
    }

    .experience-element{
        display: grid;
        justify-content: space-around;
    }
    .experience-element img{
        width: 300px;
        height: 500px;
        margin-left: -10%;
    }
    .Experience_text_Div{
        margin-left: 10%;
    }
.achieve{
    margin-left: 10%;
}



}