.experience{
    background-color: black;
    padding-top: 20px;
}
.experience p{
    color:#a3a3a3;
    font-size: large;
}
.experience-element{
    display: flex;
    justify-content: space-around;
}
.achieve{
    display: flex;
    justify-content: space-around;
}
.experience-element img{
    margin-left: 20%;
}
.Experience_text_Div{
    padding-top: 10%;
    padding-right: 15%;
}
.achieve h1{
    color: #3dc6ef;
    font-weight: 800;
}
