@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .pulse{
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    @keyframes pulse {
            0%, 100% {
              transform: scale(1.05);
            }
            50% {
              transform: scale(0.95);
            }
      }   
}