.footer{
    background-color: white;
    width: 100%;
    padding-top: 50px;
    overflow-x:hidden ;
}
.gridColumn{
    display: flex;
    justify-content: space-around;
   
}
.connected{
    
    margin-top: -25px;
    margin-bottom: -100px;
    

}
.connected p{
    margin-bottom: -10px;

    
}
.gridColumn button{
    font-size: large;
    color:black;
    background-color: #00a6ed;
    border-radius: 10px;
    padding: 10px;
    border: none;
    
}
.gridColumn p {
    color: #00a6ed;
    font-weight: 600;
    font-size: large;

}
.footer footer{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(42, 39, 39);
    border-left: none;
    border-right: none;
    margin-top: 100px;
    
}
.copyright{
    
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
 
}
.copyright ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 100px;
}




@media (min-width:300px) and (max-width:600px){
    .footer{
        text-align: center;
        border-top: 2px sold wheat;
    
    }
   .footer button{
    font-size: small;
    margin-right: 20px;
    padding: auto;
    }
    footer{
        gap:10px;
        margin-left: 50px;
        margin-right: 40px;
    }
    .footer_Div p{
        margin-top: -10px;
        font-size: small;
    }
.copyright{
    font-size: small;
    gap: 10px;
    margin-bottom: 5px;
    
}
}